<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Shopping Cart</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css1/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="css1/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="css1/owl.theme.default.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css1/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css1/style.css" />
  <script>


  </script>
	<style>

	label {display: block; padding: 30px; position: relative; padding-left: 30px;}
	label input {display: none;}
	label span {border: 1px solid #ccc; width: 40px; height: 40px; position: absolute; overflow: hidden; line-height: 2.5; text-align: center; border-radius: 100%; font-size: 15px; left: 0; top: 50%; margin-top: -2.5px;}
	input:checked + span {background: #ccf; border-color: #ccf;}
	.o{
	  border: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.dropdown {
	  position: relative;
	  display: inline-block;
	  margin-top:27px;
	}
.sp{

	font-size:20px !important;
line-height:.5em;
}
.sp1{

	font-size:20px !important;
vertical-align: text-top !important;
}
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #f1f1f1}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
	  display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
	  background-color: #3e8e41;
	}
	</style>
	<header id="header">
		<!-- container -->
		{{> header}}
		<!-- /container -->
	</header>
    <br>
  <br>

<div class="row">


<div class="col-md-9">
<div class="row">
{{# if products}}

    {{# each products}}


      <center>
<div class="col-md-4">
    <input type="image" height="300px" width="250px" src="{{this.item.imgpath1}}" alt="">

</div>




<div class="col-md-6 x" ><div class="a">{{this.item.title}}</div>
<div class="d">{{this.item.description}}</div>
<br>

<div class="d">
  {{#ifEquals this.item.category "Men Footwear"}}

  {{# if this.qty1}}

  Size:  6    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/6" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty1}}&nbsp;<a href="/increaseby1/{{this.item.id}}/6" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
  <br>
  {{/if}}
  {{# if this.qty2}}

Size:  7   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/7" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty2}}&nbsp;<a href="/increaseby1/{{this.item.id}}/7" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty3}}
Size: 8    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/8" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty3}}&nbsp;<a href="/increaseby1/{{this.item.id}}/8" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty4}}
Size: 9     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/9" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty4}}&nbsp;<a href="/increaseby1/{{this.item.id}}/9" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty5}}
Size: 10     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/10" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty5}}&nbsp;<a href="/increaseby1/{{this.item.id}}/10" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{/ifEquals}}
{{#ifEquals this.item.category "Women Footwear"}}

{{# if this.qty1}}

Size:  6    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/6" ><i class="fa fa-caret-down sp1"></i></a>&nbsp;Qty: {{this.qty1}}&nbsp;<a href="/increaseby1/{{this.item.id}}/6" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty2}}

Size:  7   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/7" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty2}}&nbsp;<a href="/increaseby1/{{this.item.id}}/7" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty3}}
Size: 8    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/8" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty3}}&nbsp;<a href="/increaseby1/{{this.item.id}}/8" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty4}}
Size: 9     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <a href="/reduceby1/{{this.item.id}}/9" ><i class="fa fa-caret-down sp1"></i></a>&nbsp;Qty: {{this.qty4}}&nbsp;<a href="/increaseby1/{{this.item.id}}/9" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty5}}
Size: 10     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/10" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty5}}&nbsp;<a href="/increaseby1/{{this.item.id}}/10" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{/ifEquals}}
{{#ifNotequals this.item.category "Men Footwear"}}
{{#ifNotequals this.item.category "Women Footwear"}}
{{# if this.qty1}}
Size: S   &nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/S" >-</a>&nbsp;Qty: {{this.qty1}}&nbsp;<a href="/increaseby1/{{this.item.id}}/S" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}

{{# if this.qty2}}
Size: M    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/M" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty2}}&nbsp;<a href="/increaseby1/{{this.item.id}}/M" ><i class="fa fa-caret-up sp1 "></i></a>
<br>
{{/if}}
{{# if this.qty3}}
Size: L     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/L" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty3}}&nbsp;<a href="/increaseby1/{{this.item.id}}/L" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty4}}
Size: XL     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/XL" ><i class="fa fa-caret-down sp1"></i></a>&nbsp; Qty: {{this.qty4}}&nbsp;<a href="/increaseby1/{{this.item.id}}/XL" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{# if this.qty5}}
Size: XXL    &nbsp;&nbsp;&nbsp; <a href="/reduceby1/{{this.item.id}}/XXL" ><i class="fa fa-caret-down sp1"></i></a>&nbsp;Qty: {{this.qty5}}&nbsp;<a href="/increaseby1/{{this.item.id}}/XXL" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
<br>
{{/if}}
{{/ifNotequals}}
{{/ifNotequals}}
</div>
</div>

<div class="col-md-2 x ap" ><center>Rs. {{this.price1}}<br><br><br><br><a href="/removeitem/{{this.item.id}}" class="main-btn3">REMOVE</a>
</center></div>


</center>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>
{{/each}}
</div>
<div class="row">
<center>

	<div class="col-md-6">
		<br><br><br><a href="/" class="main-btn4">< Continue Shopping</a>

</div>
<div class="col-md-6">
	<br><br><br><a href="/removeall" class="main-btn4">Remove All</a>
<br><br><br><br>
</div>

</center>
</div>
</div>


<div class="col-md-3 x ap" >
	<center>Amount Payable:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs. {{totalPrice}}<br>
	<br><br>

<a href="/placeorder" class="main-btnn" >PLACE ORDER</a></center>


</center>
<div class="v1"></div></div>
</div>



</div>

{{else}}
<center>
	<img src="/img1/cart1.png" height="400px" width="400px"><br><br><br><div class="ao">
Your Shopping Cart is empty!</div></center>
{{/if}}

</html>
